{% extends 'home.html.twig' %}
{% block content %}
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>List Des Employés <small> </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">Numéro du conge </th>
                            <th class="column-title">Date debut</th>
                            <th class="column-title">Date fin</th>
                            <th class="column-title">Nombre des jour </th>
                            <th class="column-title">Statut</th>
                            <th class="column-title">Jour disponible</th>
                            <th class="column-title no-link last"><span class="nobr">Accepter</span></th>
                            <th class="column-title no-link last"><span class="nobr">Refuse</span></th>
                            <th class="column-title no-link last"><span class="nobr">Supprime</span></th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for conge in conges %}
                                <tr class="even pointer">
                                    <td class="">{{ conge.id }}</td>
                                    <td class="">{{ conge.startday }}</td>
                                    <td class="">{{ conge.endday }}</td>
                                    <td class="">{{ conge.typeconge }}</td>
                                    <td class="">{{ conge.statuts }}</td>
                                    <td class="">{{ conge.nombredujour }}</td>
                                    <td class="last"><a href="{{ path('supprime',{'id':conge.id,'nbj':conge.nombredujour}) }}"><button type="button" class="btn btn-sm btn-round btn-success">valider</button></a></td>
                                    <td class="last"><a href=""><button type="button" class="btn btn-sm btn-round btn-warning">regeter</button></a></td>
                                    <td class="last"><a href="{{ path('supprime',{'id':conge.id}) }}"><button type="button" class="btn btn-sm btn-round btn-danger">supprimer</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

