{% extends 'home.html.twig' %}
{% block content %}
    {{ form_start(registrationForm) }}
    <br> <br> <br> <br>
    <div class="" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_right">
            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                <div class="input-group">
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    <div class="clearfix">
    </div>
        <div class="row">
             <div class="col-md-12 col-sm-12">
               <div class="x_panel">
                   <div class="x_title">
                   <h2>Nouvelle Personne</h2>
                   <ul class="nav navbar-right panel_toolbox"></ul>
                   <div class="clearfix"></div>
=======
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="x_panel">
    <div class="x_title">
        <h2>Demander un congé</h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
>>>>>>> 8a4f4b4e3e2bf23d1583fa2da695c3c4786615d1
    </div>
    <div class="x_content">
    <form class="" action="" method="post" novalidate>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Date de debut</label>
        <div class="col-md-6 col-sm-6">
            <input type="date" class="form-control" {{ form_widget(registrationForm.start_day) }}
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Date fin</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" type="date"  {{ form_widget(registrationForm.end_day) }}
        </div>
    </div>

    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Type de conge</label>
        <div class="col-md-6 col-sm-6">
            <select class="form-control" {{ form_widget(registrationForm.type_conge) }}
            <option>Congé annuel</option>
            <option>Le congé maladie</option>
            <option>Le congé maternité</option>
            <option>Le congé paternité</option>
            <option>Le congé parental d'éducation</option>
            <option>Le congé de proche aidant</option>
            <option>Le congé sans solde</option>
            <option>Le congé sabbatique</option>
            </select>
        </div>
    </div>

    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Description</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" type="text"  {{ form_widget(registrationForm.discription) }}
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Description</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" type="text">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}