{% extends 'home.html.twig' %}
{% block content %}
    {{ form_start(registrationForm) }}
  <br> <br> <br> <br>
    <div class="" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                        <div class="input-group">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Nouvelle Personne</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="" action="" method="post" novalidate>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Numéro D'employeur</label>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="number" class="form-control" {{ form_widget(registrationForm.employernumber) }}
                                    </div>
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Nom</label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control"  {{ form_widget(registrationForm.firstname) }}
                                    </div>
                                </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Prénom</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control"    {{ form_widget(registrationForm.lastname) }}
        </div>
    </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Poste</label>
                                    <div class="col-md-6 col-sm-6">
                                        <select class="form-control" {{ form_widget(registrationForm.fonction) }}
                                            <option>Développeur Web Full Stack</option>
                                            <option>Développeur Embarque</option>
                                            <option>Développeur DevOps</option>
                                            <option>Ingénieur Test et Validation</option>
                                            <option>Employé RH</option>
                                            <option>Directeur Général</option>
                                            <option>Réception</option>
                                            <option>Manager d'équipe</option>
                                            <option>IT manager</option>
                                            <option>Autre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Email</label>
                                    <div class="col-md-6 col-sm-6">
                                        <input class="form-control" class='email' required="required"  {{ form_widget(registrationForm.email) }}
                                    </div>
                                </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Mot de passe</label>
        <div class="col-md-6 col-sm-6">
            <input class="form-control" type="password" required="required"   {{ form_widget(registrationForm.plainPassword, {label: 'Password'}) }}
        </div>
    </div>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">avatar</label>
        <div class="col-md-6 col-sm-6">
            <input type="file" data-role="magic-overlay" data-target="#pictureBtn"  data-edit="insertImage" {{ form_widget(registrationForm.avatar) }}
            le système récupérer que les image dans le bureau
        </div>

    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(registrationForm) }}
{% endblock %}