{% extends 'home.html.twig' %}
{% block content %}
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Validation des demandes</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">Identifiant d'Employé</th>
                            <th class="column-title">Demande</th>
                            <th class="column-title">Date de demande</th>
                            <th class="column-title"><span class="nobr">Statut</span></th>
                            <th class="column-title no-link last"><span class="nobr">Accepter</span></th>
                            <th class="column-title no-link last"><span class="nobr">Refuse</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if receptions %}
                            {% for reception in receptions %}
                                {% if  reception.statut == 'En attente' %}
                                <tr class="even pointer" >
                                    <td class="">{{ reception.userprofile.employernumber }}</td>
                                    <td class="">{{ reception.question }}</td>
                                    <td class="">{{ reception.datequestion }}</td>
                                    <td class="">{{ reception.statut }}</td>
                                    <td><a href="{{ path('accepterdemande',{'id':reception.id}) }}"><button type="button" class="btn btn-sm btn-round btn-success">accepter</button></a></td>
                                    <td><a href="{{ path('refuserdemande',{'id':reception.id}) }}"><button type="button" class="btn btn-sm btn-round btn-danger">refuse</button></a></td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if receptions %}
                            {% for reception in receptions %}
                                {% if  reception.statut == 'Accepter' %}
                                    <tr class="even pointer" >
                                        <td class="">{{ reception.userprofile.employernumber }}</td>
                                        <td class="">{{ reception.question }}</td>
                                        <td class="">{{ reception.datequestion }}</td>
                                        <td style="color:#00FF00" class=""><b>{{ reception.statut }}</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if receptions %}
                            {% for reception in receptions %}
                                {% if  reception.statut == 'Refuse' %}
                                    <tr class="even pointer" >
                                        <td class="">{{ reception.userprofile.employernumber }}</td>
                                        <td class="">{{ reception.question }}</td>
                                        <td class="">{{ reception.datequestion }}</td>
                                        <td style="color:#FF0000" class=""><b>{{ reception.statut }}</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}